{% load static%}
{% block content %}
{% include  'header.html'  %}

<div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
    <div class="container">
        <div class="row g-5 mb-5">
            <div class="col-lg-4 col-md-6">
                {% comment %} <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-geo-alt fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Our Office</h6>
                    <span>123 Street, New York, USA</span>
                </div> {% endcomment %}
            </div>
            <div class="col-lg-4 col-md-6">
                {% comment %} <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-envelope-open fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Email Us</h6>
                    <span>info@example.com</span>
                </div> {% endcomment %}
            </div>
            <div class="col-lg-6 col-md-6">
                {% comment %} <div class="bg-primary border-inner text-center text-white p-5">
                    <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                    <h6 class="text-uppercase my-2">Call Us</h6>
                    <span>+012 345 6789</span>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <center><h1>Faculty Login</h1></center>
                <form method="POST" action="facultylogin" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <select class="form-control bg-light border-0 px-4" id="designation" placeholder="Your designation" style="height: 55px;" name="designation">
                                <option> Designation </option>
                                <option> Trainer </option>
                                <option> HR </option>
                                <option> Operations Head </option>
                                </select>
                        </div>

                        <div class="col-sm-12">
                            <input type="email" class="form-control bg-light border-0 px-4" id="email" placeholder="Your Email" style="height: 55px;" name="email">
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control bg-light border-0 px-4" id="password" placeholder="Your Password" style="height: 55px;" name="password">
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary border-inner w-100 py-3" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
